<h1 class="text-center mb-3"> 
    {{title}}
</h1>

<form action="/api/members" method="POST" class="mb-4">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" class="form-control">
    </div>
    <div class="form-group mt-3">
        <label for="chakraType">Chakra type</label>
        <input type="text" name="chakraType" class="form-control">
    </div>
    <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" name="mangekyou">
        <label class="custom-control-label" for="customSwitch1">mangekyou</label>
    </div>
    <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" name="rinnegan">
        <label class="custom-control-label" for="customSwitch1">rinnegan</label>
    </div>
    <button type="sumbit" class="btn btn-primary btn-block mt-3">Add </button> 
</form>
<h4>Members</h4>
<ul class="list-group">
    {{#each members}}
        <li class="list-group-item">
            name: {{this.name}} <br> chakraType: {{this.chakraType}}
        </li>
    {{/each}}
</ul>